dist/Application/Backups
dist/Application/Views
dist/Application/ViewOutput
dist/Application/Controllers
dist/Application/Models
dist/Application/Layouts
dist/Application/Modules
dist/Application/Logs
dist/Application/Meta
.idea/*
.vscode/*